.dfrm-number {
  position: relative;
  flex-grow: 1;
  display: flex;
  height: 28px;
  border: 1px solid var(--dfrm-border-color-1);
  border-radius: var(--dfrm-input-radius);
  background-color: var(--dfrm-input-background);
}

.dfrm-number::after {
  content: "";
  position: absolute;
  inset: -1px;
  border: 2px solid var(--dfrm-border-color-2);
  border-radius: var(--dfrm-input-radius);
  pointer-events: none;
  visibility: hidden;
}

.dfrm-number--focused::after {
  visibility: visible;
}

.dfrm-number > input {
  flex-grow: 1;
  min-width: 0;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  border: none;
  border-radius: var(--dfrm-input-radius);
  outline: none;
  background-color: transparent;
  font-family: var(--dfrm-font-family);
  font-size: var(--dfrm-font-size);
  color: var(--dfrm-text-color-1);
}

.dfrm-number--disabled {
  border-color: var(--dfrm-border-color-3);
}

.dfrm-number--disabled > input {
  color: var(--dfrm-text-color-2);
}

.dfrm-number__unit {
  display: flex;
  height: 28px;
  padding: 0 5px 0 0;
  align-items: center;
  border-top-right-radius: var(--dfrm-input-radius);
  border-bottom-right-radius: var(--dfrm-input-radius);
  color: var(--dfrm-text-color-1);
  user-select: none;
  pointer-events: none;
}

.dfrm-number--disabled > .dfrm-number__unit {
  color: var(--dfrm-text-color-2);
}
