body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.app {
  --app-font-family-1: Segoe WPC, Segoe UI, sans-serif;
  --app-font-family-2: Consolas, "Courier New", monospace;
  --app-font-size-1: 13px;
  --app-font-size-2: 11px;
  --app-icon-size: 13px;
  --app-border-radius: 3px;
  --app-workbench-border: 1px solid var(--app-border-color-2);

  --dfrm-grid-gap: 20px;
  --dfrm-font-family: Segoe WPC, Segoe UI, sans-serif;
  --dfrm-font-size: 13px;
  --dfrm-input-radius: 3px;
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-track {
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }

  body {
    background-color: white;
  }

  .app {
    --app-background-color-append: #bbdefb; /* BLUE 100 */
    --app-background-color-replace: #ffcdd2; /* RED 100 */
    --app-background-color-1: white;
    --app-background-color-2: #f8f8f8;
    --app-background-color-3: #f0f0f0;
    --app-background-color-5: #e4e4e4;
    --app-text-color-1: #333;
    --app-text-color-2: #aaa;
    --app-border-color-2: #ddd;
    --app-border-color-4: #0d47a1;

    --dfrm-text-color-1: #333;
    --dfrm-text-color-2: #aaa;
    --dfrm-border-color-1: #666;
    --dfrm-border-color-2: #1a237e;
    --dfrm-border-color-3: #aaa;
    --dfrm-input-background: white;
    --dfrm-button-background: white;
    --dfrm-focused-button-background: #eee;
    --dfrm-active-option-background: #eee;
  }
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: #282828;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #666;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  body {
    background-color: black;
  }

  .app {
    --app-background-color-append: #4a148c; /* BLUE 900 */
    --app-background-color-replace: #b71c1c; /* RED 900 */
    --app-background-color-1: #282828;
    --app-background-color-2: #222;
    --app-background-color-3: #333;
    --app-background-color-5: #444;
    --app-text-color-1: #eee;
    --app-text-color-2: #666;
    --app-border-color-2: #555;
    --app-border-color-4: #0d47a1;

    --dfrm-text-color-1: #eee;
    --dfrm-text-color-2: #666;
    --dfrm-border-color-1: #555;
    --dfrm-border-color-2: #0d47a1;
    --dfrm-border-color-3: #666;
    --dfrm-input-background: #333;
    --dfrm-button-background: #333;
    --dfrm-focused-button-background: #444;
    --dfrm-active-option-background: #444;
  }
}

.app {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: var(--app-font-family-1);
  color: var(--app-text-color-1);
  font-size: var(--app-font-size-1);
}
